name: CI Release

on: 
    # push:
    #     branches:
    #         - feature/*
    #     tags:
    #         - '*'
    # workflow_dispatch:
    pull_request:
        types: [closed]
        branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps: 
      - name: Checkout code
        uses: actions/checkout@main

      - name: build and install
        run: make build

  release: 
    name: Release
    runs-on: ubuntu-latest
    needs: build
    permissions: write-all
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Package code
        id: package
        run: make package

      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v3
        with: 
          name: assets-for-download
          path: ${{ github.workspace }}/*.tgz

      - uses: actions-ecosystem/action-get-merged-pull-request@v1
        id: get-merged-pull-request
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: action-release-label
        id: release-label
        uses: actions-ecosystem/action-release-label@v1
        if: ${{ steps.get-merged-pull-request.outputs.title != null }}
        with:
            labels: ${{ steps.get-merged-pull-request.outputs.labels }}
        
      - name: action-get-latest-tag
        id: get-latest-tag
        uses: actions-ecosystem/action-get-latest-tag@v1
        with:
            semver_only: true

      - name: action-bump-semver
        id: bump-semver
        uses: actions-ecosystem/action-bump-semver@v1
        with:
          current_version: ${{ steps.get-latest-tag.outputs.tag }}
          level: ${{ steps.release-label.outputs.level }}

      - name: action-push-tag
        id: push-tag
        uses: actions-ecosystem/action-push-tag@v1
        if: ${{ steps.bump-semver.outputs.new_version != null }}
        with:
          tag: ${{ steps.bump-semver.outputs.new_version }}
          message: '${{ steps.bump-semver.outputs.new_version }}: PR #${{ github.event.pull_request.number }} ${{ github.event.pull_request.title }}'

      - name: Create Release
        if: ${{ steps.release-label.outputs.level == 'major' || steps.release-label.outputs.level == 'minor' }}
        uses: ncipollo/release-action@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          bodyFile: ${{ github.workspace }}/CHANGELOG.md
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.bump-semver.outputs.new_version }}
          commit: ${{ github.sha }}
          artifacts: "CHANGELOG.md, README.md, ${{ github.workspace }}/*.tgz"

    #   - name: Download artifact
    #     id: download-artifact
    #     uses: actions/download-artifact@v3
    #     with:
    #       name: assets-for-download
