name: CI Release

on: 
    push:
        branches:
            - feature/*
        tags:
            - '*'
    # workflow_dispatch:
    # pull_request:
    #     types: [closed]
    #     branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps: 
      - name: Checkout code
        uses: actions/checkout@main

      - name: build and install
        run: make build

  release: 
    name: Release
    runs-on: ubuntu-latest
    needs: build
    permissions: write-all
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Package code
        id: package
        run: make package

      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v3
        with: 
          name: assets-for-download
          path: ${{ github.workspace }}/*.tgz

      - name: Create Release
        uses: ncipollo/release-action@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          bodyFile: ${{ github.workspace }}/CHANGELOG.md
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}.v${{ github.run_number }}
          commit: ${{ github.sha }}

    #   - name: Download artifact
    #     id: download-artifact
    #     uses: actions/download-artifact@v3
    #     with:
    #       name: assets-for-download

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ github.workspace }}/*.tgz
          asset_name: assets-for-download
          asset_content_type: application/gzip

#   publish-artefact:
#     name: Publish Artefact
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@main
    
#       - name: Step 3 - Use the Upload Artifact GitHub Action
#         uses: actions/upload-artifact@v2
#         with: 
#           name: assets-for-download
#           path: .

#   release: 
#     runs-on: ubuntu-latest
#     steps:
#         - name: Checkout code
#           uses: actions/checkout@v2

#         - uses: actions-ecosystem/action-release-label@v1
#           id: release-label
#           if: ${{ github.event.pull_request.merged == true }}

#         - uses: actions-ecosystem/action-get-latest-tag@v1
#           id: get-latest-tag
#           if: ${{ steps.release-label.outputs.level != null }}

#         - uses: actions-ecosystem/action-bump-semver@v1
#           id: bump-semver
#           if: ${{ steps.release-label.outputs.level != null }}
#           with:
#             current_version: ${{ steps.get-latest-tag.outputs.tag }}
#             level: ${{ steps.release-label.outputs.level }}

#         - uses: actions-ecosystem/action-push-tag@v1
#           if: ${{ steps.release-label.outputs.level != null }}
#           with:
#             tag: ${{ steps.bump-semver.outputs.new_version }}
#             message: '${{ steps.bump-semver.outputs.new_version }}: PR #${{ github.event.pull_request.number }} ${{ github.event.pull_request.title }}'
